## Variáveis e Operadores

In [2]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [3]:
# Imprimindo o valor da varável
var_teste

1

In [5]:
# Imprimindo o valor da variável
print(var_teste)

1

In [7]:
# Não podemos utilizar uma variável que não foi definida. Veja a mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [8]:
var_teste = 2

In [9]:
var_teste

2

In [10]:
type(var_teste)

int

In [11]:
var_teste = 9.5

In [12]:
type(var_teste)

float

In [13]:
x = 1

In [14]:
x

1

## Declaração Múltipla

In [16]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"

In [17]:
pessoa1

'Maria'

In [18]:
pessoa2

'José'

In [19]:
pessoa3

'Tobias'

In [20]:
fruta1 = fruta2 = fruta3 = "Laranja"

In [21]:
fruta1

'Laranja'

In [22]:
fruta2

'Laranja'

## Pode-se usar letras, números e underline (mas não se pode começar com números)

In [23]:
x1 = 50

In [24]:
x1

50

In [25]:
# Mensagem de erro, pois o Python não permite nomes de variáveis que iniciem com números
1x = 50

SyntaxError: invalid syntax (2417288693.py, line 2)

In [26]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

SyntaxError: invalid syntax (103517557.py, line 2)

## Variáveis atribuídas a outras variáveis e ordem dos operadores

In [28]:
largura = 2

In [29]:
altura = 4

In [31]:
area = largura * altura

In [32]:
area

8

In [33]:
perimetro = 2 * largura + 2 * altura

In [34]:
perimetro

12

In [35]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2) * altura

In [36]:
perimetro

32

## Operações com variáveis

In [37]:
idade1 = 25

In [38]:
idade2 = 35

In [39]:
idade1 + idade2

60

In [40]:
idade1 - idade2

-10

In [41]:
idade1 * idade2

875

In [42]:
idade2 / idade1

1.4

In [43]:
idade2 % idade1

10

## Concatenação de Variáveis

In [44]:
nome = "Steve"

In [45]:
sobrenome = "Jobs"

In [47]:
fullname = nome + " " + sobrenome

In [48]:
fullname

'Steve Jobs'

## FIM