## Exercicio 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [7]:
lista_1_a_10 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
print(lista_1_a_10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercicio 2 - Crie uma lista de 5 objetos e imprima na tela

In [9]:
cidadessaopaulo = ['Barueri :1', 'Osasco :2', 'Jandira :3', 'Itapevi :4', 'São Paulo :5']

In [10]:
print(cidadessaopaulo)

['Barueri :1', 'Osasco :2', 'Jandira :3', 'Itapevi :4', 'São Paulo :5']

### Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [91]:
a = 'Barueri'

In [92]:
b = 'Carapicuiba'

In [96]:
c = a + ' é melhor que ' + b

In [97]:
print(c)

Barueri é melhor que Carapicuiba

### Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
### objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [40]:
tupla1 = (1, 2, 3, 4, 4, 4, 5)

In [41]:
tupla1

(1, 2, 3, 4, 4, 4, 5)

In [42]:
tupla1.count(4)

3

### Exercício 5 - Crie um dicionário vazio e imprima na tela

In [43]:
dicionario1 = {}

In [44]:
dicionario1

{}

### Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [57]:
estudantes = {"Amanda":24, 'Felipe':37, 'Rose':56}

In [58]:
estudantes

{'Amanda': 24, 'Felipe': 37, 'Rose': 56}

### Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [64]:
estudantes["João"] = 29

In [65]:
estudantes

{'Amanda': 24, 'Felipe': 37, 'Rose': 56, 'key_one': 2, 'João': 29}

### Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
### Imprima o dicionário na tela.

In [70]:
estudantes2 = {'Felipe':65, 'João':[65, 25], 'Jack':41}

In [71]:
estudantes2

{'Felipe': 65, 'João': [65, 25], 'Jack': 41}

#### Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
#### o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
#### o quarto elemento um valor do tipo float.
#### Imprima a lista na tela.

In [80]:
lista2 = ["Carros", ('Moto', 2015), {"Caminhão":2022, "Onibus":2019}, 8.5]

In [81]:
print(lista2)

['Carros', ('Moto', 2015), {'Caminhão': 2022, 'Onibus': 2019}, 8.5]

### Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [88]:
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [89]:
print(frase)

Cientista de Dados é o profissional mais sexy do século XXI

In [98]:
frase[0:18]

'Cientista de Dados'